body
{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    background-position: center;
    
}

.loginform
{
    background-color: aliceblue;
    width: 30%;
    height:auto;
    margin :15% auto;
    padding: 15px 10px;    
    
}